<!DOCTYPE html>
<html>
<head>
	<title>打卡记录</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- loading mui -->
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/mui.min.css">
	<!-- custorm style -->
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
</head>
<body>
<include file="Common/header" />
	<!-- 主内容部分 -->
	<div class="content">
		<section class="xueqi">
			<a href="#" id="getLocation">
			<div class="class">
				<label id="classResult">摇一摇</label>
			</div>
			</a>
		</section>
		<section class="rate_group">
			<br>
			<h3>今日记录</h3>
			<table>
				<tr>
					<th>id</th>
					<th>签到时间</th>
					<th>签到地点</th>
					<th>类型</th>
					<th>状态</th>
				</tr>
				<foreach name="res" item='v'>
				<tr>
					<td>{$v.id}</td>
					<td>{$v.addtime}</td>
					<td>{$v.addr}</td>
					<th><if condition="$v.type eq 1">签到<elseif condition="$v.type eq 2"/>签退<else/>未知</if></th>
					<th><if condition="$v.state eq 1">成功<elseif condition="$v.state eq 2"/>迟到<else/>未知</if></th>
				</tr>
				</foreach>
			</table>
	</div>
	<script src="__ROOT__/Public/Home/js/mui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	wx.config({
		appId: '<?php echo $signPackage["appId"];?>',
		timestamp: <?php echo $signPackage["timestamp"];?>,
	nonceStr: '<?php echo $signPackage["nonceStr"];?>',
			signature: '<?php echo $signPackage["signature"];?>',
			jsApiList: [
		'checkJsApi',
		'openLocation',
		'getLocation'
	]
	});
	wx.ready(function () {
// 获取当前地理位置
		document.querySelector('#getLocation').onclick = function () {
			wx.getLocation({
				success: function (res) {
					var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
					var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
					var speed = res.speed; // 速度，以米/每秒计
					var accuracy = res.accuracy; // 位置精度
					window.location.href='http://www.diaoch.cn/register/index.php/Home/User/shake/latitude/'+latitude+'/longitude/'+longitude;
	//				alert(JSON.stringify(res));
				},
				cancel: function (res) {
					alert('用户拒绝授权获取地理位置');
				}
			});
		};
	});
</script>
</body>
</html>