<!DOCTYPE HTML>
<html>
<head>
<include file="Common/header" />
        <div id="page-wrapper">
        <div class="graphs">
	     <div class="xs">
  	       <h3>考勤修改</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">姓名</label>
									<div class="col-sm-8">
										<input type="text" name="name" disabled value="{$res.name}" class="form-control1" id="focusedinput" placeholder="">
										<input type="hidden" name="userid" disabled value="{$res.userid}" class="form-control1" id="focusedinput" placeholder="">
									</div>
									<div class="col-sm-2">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">打卡时间</label>
									<div class="col-sm-8">
										<input type="text" name="addtime" value="{$res.addtime}" class="form-control1" id="focusedinput" placeholder="">
									</div>
									<div class="col-sm-2">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">经度</label>
									<div class="col-sm-8">
										<input type="text" name="longitude" value="{$res.longitude}" class="form-control1" id="focusedinput" placeholder="">
									</div>
									<div class="col-sm-2">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">纬度</label>
									<div class="col-sm-8">
										<input type="text" name="latitude" value="{$res.latitude}" class="form-control1" id="focusedinput" placeholder="">
									</div>
									<div class="col-sm-2">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">打卡地点</label>
									<div class="col-sm-8">
										<input type="text" name="addr" value="{$res.addr}" class="form-control1" id="focusedinput" placeholder="">
									</div>
									<div class="col-sm-2">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">状态</label>
									<div class="col-sm-8">
									        <select class="form-control1" name="state">
												  <option value="3">补卡</option>
								                  <option value="2">迟到</option>
								                  <option value="1">正常</option>
								          </select>
									</div>
								</div>

							      <div class="panel-footer">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<button class="btn-success btn">Submit</button>
										</div>
									</div>
								 </div>
								
								
							</form>
						</div>
					</div>

 
	
  </div>
  <div class="copy_layout">
      <p>Copyright &copy; 2016 name All rights reserved.</p>
  </div>
  </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__ROOT__/Public/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__ROOT__/Public/admin/js/metisMenu.min.js"></script>
<script src="__ROOT__/Public/admin/js/custom.js"></script>
 <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
