


<include file="Common/header" />
           
        
        <div id="page-wrapper">
        <div class="graphs">	  
    <div class="content_bottom">
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr style="text-align: center;">
		           <h3>所有签到 <span><a href="__ROOT__/index.php/Admin/Index/userexcel">导出excel</a></span> 总签到数：<span style="color: red">{$all}</span>次,迟到总数：<span style="color: red">{$late}</span>次,缺勤总数：<span style="color: red">{$queqing}</span>次,补卡总数：<span style="color: red">{$buka}</span></h3>
		        </tr>
		        <tr>
		          <th>编号</th>
					<th>姓名</th>
		          <th>昵称</th>
		          <th>签到时间</th>
					<th>经度</th>
					<th>纬度</th>
				  <th>签到地点</th>
					<th>状态</th>
					<th>操作</th>
		        </tr>
		      </thead>
		      <tbody>	      
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="res" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		        
		          <th scope="row">{$v.id}</th>
				  <th>{$v.name}</th>
		          <th>{$v.nickname}</th>
		          <th>{$v.addtime}</th>
				  <th>{$v.longitude}</th>
				  <th>{$v.latitude}</th>
				  <th>{$v.addr}</th>
				   <th><if condition="$v.state eq 1">成功<elseif condition="$v.state eq 2"/>迟到<elseif condition="$v.state eq 3"/>补卡</if></th>
				  <th><a href="__ROOT__/index.php/Admin/Index/usereditelist/id/{$v.id}">修改</a>|<a href="javascript:if(confirm('确认删除吗?'))window.location='__ROOT__/index.php/Admin/Index/userdeletelist/id/{$v.id}'">删 除</a></th>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>		      
		      </tbody>
		    </table>
		   </div>
	   </div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016  All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
