<!-- 导航栏 -->
<header id="header" class="mui-bar mui-bar-nav">
	<h1 class="mui-title">广东省大型公司签到考勤系统</h1>
	<a class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left" href="javascript:history.go(-1)"><span class="mui-icon mui-icon-left-nav"></span></a>
	<a class="mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
</header>
<!-- 右上角弹出菜单 -->
<div id="topPopover" class="mui-popover">
	<div class="mui-popover-arrow"></div>
	<div class="mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/Index/index">主页</a>
				</li>
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/User/record">我的考勤</a>
				</li>
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/User/appeallist">考勤申诉</a>
				</li>
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/User/leave">我要请假</a>
				</li>
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/User/clock">上班打卡</a>
				</li>
				<li class="mui-table-view-cell"><a href="__ROOT__/index.php/Home/User/personCenter">个人中心</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>